*
{
    margin-left: 10px;
}
#logoPrefeitura
{
    height: 100px;
    width: 400px;
}
#titulo
{
    margin: 0px 0px 10px 0px;
}
#textarea
{
    margin-left: 30px;
}
#fin
{
    margin-left: 10px;
}
#inputFinal
{
	margin:10px 10px 0px 0px;
}