

/* ------------------------------- */
/* ------------------------------- */
/* ------------------------------- */

/* estrura geral a pagina noticias */




.layout_noticias_novo h1 { 
	font-family: fontsite, tahoma, arial, sans-serif; 
	font-style:normal; 
	font-weight:normal; 
    font-size:20pt; 
	color: #333; 
	padding:0px; 
	padding-right:0px; 
	padding-left:0px;  
	border:0px; 
	margin:0px; 
	margin-top:2px; 
	margin-bottom:2px; 
}
	 
.layout_noticias_novo h2 { 
	font-family: fontsite, tahoma, arial, sans-serif; 
	font-style:normal; 
	font-weight:normal; 
    font-size:17pt; 
	color: #bf8f1b; 
	padding:0px; 
	padding-right:0px; 
	padding-left:0px;  
	border:0px; 
	margin:0px; 
	margin-top:2px; 
	margin-bottom:2px;
}
	 
.layout_noticias_novo h3 { 
	font-family:  "Trebuchet MS", tahoma, arial, sans-serif; 
	font-style:normal; 
	font-weight:normal; 
    font-size:12.5pt;
	line-height:14pt; 
	color: #bf8f1b; 
	padding:0px; 
	padding-right:0px; 
	padding-left:0px;  
	border:0px; 
	margin:0px; 
	margin-top:2px; 
	margin-bottom:2px;
}

.layout_noticias_novo h3 a { 
	color: #EEBB23; 
}
	 
.layout_noticias_novo h4 { 
	font-family:  "Trebuchet MS", tahoma,  arial, sans-serif; 
	font-style:normal; 
	font-weight:bold; 
    font-size:10pt; 
	color: #333;
	padding:0px; 
	padding-right:0px; 
	padding-left:0px;  
	border:0px; 
	margin:0px; 
	margin-top:2px;
	margin-bottom:2px;
}
	 
.layout_noticias_novo h5 { 
	font-family:  "Trebuchet MS", tahoma,  arial, sans-serif;  
	font-style:normal; 
	font-weight:bold; 
    font-size:9pt; 
	color: #bf8f1b; 
	padding:0px; 
	padding-right:0px; 
	padding-left:0px;
	border:0px; 
	margin:0px; 
	margin-top:5px; 
	margin-bottom:1px;  
}

.layout_noticias_novo h6 { 
	font-family:  "Trebuchet MS", tahoma,  arial, sans-serif; 
	font-style:normal; 
	font-weight:bold; 
    font-size:7.5pt; 
	color: #333; 
	padding:0px; 
	padding-right:0px; 
	padding-left:0px;
	border:0px; 
	margin:0px; 
	margin-top:5px; 
	margin-bottom:1px;  
}


.layout_noticias_novo h3 { 
	color: #bf8f1b; 
	font-weight:bold; 
}

.layout_noticias_novo h3 a { 
	color: #bf8f1b; 
	font-weight:bold; 
}

.layout_noticias_novo h5 a {
	font-weight:bold; 
}
		



.layout_noticias_novo {
	width:100%; 
	margin:0 auto; 
	text-align:left; 
	vertical-align:top; 
    background-color:#efeee9; 
	background-image:url(imagens/fundo_geral.jpg);
	background-repeat:repeat-x;
} 
			 
			 

.layout_noticias_novo #cabecalho {
	width:980px; 
	height:150px; 
	background-image:url(menus/imagens/cab_generico.jpg); 
    position:relative; 
	margin:0; 
	padding:0px; 
	text-align:left;
}
					  
					  
.layout_noticias_novo #conteudo {
	width:980px; 
	background-image:url(imagens/borda-pontilhada.png);
	background-repeat:repeat-y;
	background-position:240px 0px; 
	background-color:#FFFFFF; 
	padding:0px;
	padding-bottom:30px;
	text-align:left; 
	vertical-align:top; 
	text-indent: 0em; 
	font-size: 8pt; 
	font-family: verdana, arial, sans-serif;
	color: #333333; 
	word-spacing: normal; 
	font-style:normal; 
	position:relative; 
	left:0px;
    border-style:solid; 
	border-color: #DEDEDE; 
	border-right-width:0px; 
	border-left-width:0px;
	border-top-width:0px; 
	border-bottom-width:0px;		
} 
					  
					  
.layout_noticias_novo #conteudo_topo {
	width:980px; 
	background-image: none; 
    background-repeat: no-repeat; 
	position:relative; 
	left:0px; 
	top:0px;
}
					  
					  
					  
.layout_noticias_novo #conteudo_coluna1 {
	width:240px;
	margin:0; 
	padding:0px; 
	padding-top:20px; 
    text-align:left; 
	float:left;   
} 
							  

										  
.layout_noticias_novo #conteudo_coluna1_topo {
	width:12px;
	height:70px; 
	background-image:none; 
	position:absolute;
	left:240px;
	top:0px;
	background-color:#EEBB23;
	z-index:1000;
	border-radius:0px;
	-moz-border-radius: 0px;
	-webkit-border-radius:0px;
	border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-right-radius:5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius:5px;
	border-width:0px;
	border-color:#FFFFFF;
	border-style:solid;
	border-top-width:0px;
}
 							 

.layout_noticias_novo #conteudo_coluna2 {
	margin:0; 
	margin-left:260px; 
	margin-right:200px; 
	padding:0px; 
	padding-top:21px;  
    text-align:left; 
	vertical-align:top;  
}
							   
							   
.layout_noticias_novo #conteudo_coluna2 p { 
	padding:0px; 
	padding-right:25px;
}						 
	
					  
.layout_noticias_novo #conteudo_destaques {
	width:200px; 
	height:100%; 
	margin:0; 
	padding:0px; 
	padding-top:40px; 
	text-align:left; 
	float:right; 
    font-family: Lucida Sans Unicode, Lucida Grande, arial, verdana, sans-serif; 
    color: #E4772C; 
	word-spacing:0px; 
	font-style: normal; 
	font-size: 14pt; 
	font-weight:bold; 
	padding-bottom:30px; 
}
								 
								 
.layout_noticias_novo #conteudo_destaques ul {
	list-style: none; 
	margin-top:10px;
	background-color:#dedede;
	width:152px;
	padding:13px;
	padding-bottom:5px;
	margin:0px;
	margin-left:10px;
}

.layout_noticias_novo #conteudo_destaques li { 
	width:152px; 
	padding:0px; 
	margin:0px; 
	margin-bottom:10px; 
	text-align:left; 
	border-width:0px;						   
 }
	
.layout_noticias_novo #conteudo_destaques li img { 
	width:152px; 
	height:80px; 
	border-style:solid; 
	border-color: #ccc; 
	border-width:1px; 
}	

.layout_noticias_novo #conteudo_destaques div { 
	font-size: 14pt; 
	color: #333333; 
	font-weight:normal; 
	padding:0px; 
	padding-left:18px;
	font-family:fontsite, "Trebuchet MS", Arial, Helvetica, sans-serif;
	background-image:url(imagens/destaques_seta.png); 
    background-repeat: no-repeat;
	background-position:10px 20px;
	height:35px;
	width:170px;
}
	
	

.layout_noticias_novo #conteudo_base {
	width:980px; 
	height:5px; 
	background-image:none; 
    background-repeat: no-repeat;
	background-color:#fff; 
	border-style:solid; 
	border-color: #DEDEDE; 
	border-right-width:1px; 
	border-left-width:1px; 
	border-top-width:0px; 
	border-bottom-width:1px;
}	



.layout_noticias_novo #rodape { 
	height:70px; 
	width:980px; 
	text-align:left; 
	clear:both; 
	vertical-align:top;
    padding:0px; 
	padding-top:15px; 
	padding-left:20px;  
    font-size: 7.5pt; 
	font-family: verdana, arial, sans-serif;  
    color: #333333; 
	word-spacing: normal; 
	font-style:normal; 
	font-weight:normal;
} 
					  

.layout_noticias_novo #menu { 
	padding:0px; 
}


.layout_noticias_novo #menu #menugeral {
	border-top-left-radius:10px;
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius:10px;
	border-bottom-left-radius:10px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius:10px;
	background-color:transparent;
	margin:0px;
	margin-left:10px;
	padding:15px;
	padding-left:15px;
}

.layout_noticias_novo #menu .letras a {
	font-family: monospace !important;
	font-weight: normal;
	font-size: 10pt;
	padding:1px;
	padding-left:3px;
	padding-right:3px;
}

.layout_noticias_novo #menu .letras a:hover {
	padding:1px;
	padding-left:3px;
	padding-right:3px;
}


.layout_noticias_novo #menu #menuespecifico {
	border-top-left-radius:10px;
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius:10px;
	border-bottom-left-radius:10px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius:10px;
	background-color:#eee;
	margin:0px;
	margin-left:10px;
	margin-top:10px;
	padding:15px;
	padding-left:15px;
	padding-bottom:25px;
}


.layout_noticias_novo #menu #menuespecifico div { 
	font-size: 8.5pt; 
	color: #333333; 
	font-weight:normal;
	text-transform:lowercase;
	margin:0px;
	margin-top:8px;
	margin-bottom:2px;
}


.layout_noticias_novo #menu #menubusca {
	border-top-left-radius:10px;
	-moz-border-radius-topleft: 10px;
	-webkit-border-top-left-radius:10px;
	border-bottom-left-radius:10px;
	-moz-border-radius-bottomleft: 10px;
	-webkit-border-bottom-left-radius:10px;
	background-color:#e7f4d5;
	margin:0px;
	margin-left:10px;
	margin-top:10px;
	padding:15px;
	padding-left:15px;
	padding-bottom:25px;
	color:#fff;
}


.layout_noticias_novo #menu ul {
	list-style-position: outside;
	list-style-type:none;
	padding:0px;
}

.layout_noticias_novo #menu li {
	width:200px;
	margin:0;
	padding:0px;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:0px;
	text-align:left;
	border-style:solid;
	border-color: #ccc;
	border-right-width:0px;
	border-left-width:0px;
	border-top-width:0px;
	border-bottom-width:1px;
	font-size: 11.5pt;
	font-weight:bold;
	font-family: "Lucida Sans Unicode", "Lucida Grande", arial, verdana, sans-serif;
	color: #333333;
	word-spacing:0px;
	font-style: normal;
	background-color:transparent;
	text-transform:uppercase;
	background-image:url(imagens/arrow_entidx.png);
	background-repeat:no-repeat;
	background-position: 0px 5px;
}

	

.layout_noticias_novo #menu li a  { 
	text-decoration:none; 
	font-weight:normal;  
	font-size: 8.6pt;  
	color:#333333;
	padding:2px;
	padding-left:6px;
	padding-right:6px;
	
}


.layout_noticias_novo #menu li .consulta a,
.layout_noticias_novo #menu li .consulta a:hover  { 
	padding:0px;
	background-color:transparent;
	
}

.layout_noticias_novo #menu li a:hover, 
.layout_noticias_novo #menu li a.selecionado { 
	color: #FFFFFF; 
	padding:2px;
	padding-left:6px;
	padding-right:6px;
	padding-bottom:1px;
	background-color:#EEBB23;
	border-radius:5px;
	-moz-border-radius: 5px;
	-webkit-border-radius:5px;
}


.layout_noticias_novo #menu li span { 
	font-size: 9.2pt; 
	color: #333333; 
	font-weight:normal;
}


.layout_noticias_novo #menu li ul  { 
	padding:0px; 
	padding-top: 5px; 
	padding-bottom:0px; 
	padding-left:10px;  
    border-style:solid; 
	border-color: #999999; 
	border-right-width:0px;
    border-left-width:0px; 
	border-top-width:0px; 
	border-bottom-width:0px;
}	


.layout_noticias_novo #menu li li {
	width:175px; 
	margin:0px; 
	padding:0px; 
	padding-top:2px; 
	padding-bottom:2px; 
	padding-left:11px; 
	text-align:left; 
    border-style:dashed; 
	border-color: #CCCCCC; 
	border-right-width:0px; 
	border-left-width:0px; 
	border-top-width:1px; 
	border-bottom-width:0px; 
	font-size: 9pt; 
	line-height:18px; 
	background-color:transparent; 
	font-family: Lucida Sans Unicode, Lucida Grande, verdana, arial, sans-serif; 
	color: #333333; 
	word-spacing:normal; 
	font-style: normal; 
	font-weight:normal; 
	text-transform:none;
	background-image:url(imagens/arrow_cinza.png); 
	background-color:transparent;
    background-repeat:no-repeat; 
	background-position: 0px 7px; 
}



.layout_noticias_novo #caminho_migalhas { 
	font-family: verdana, arial, sans-serif; 
	font-style:normal; 
	font-weight:normal; 
    font-size:8pt; 
	color: #666666; 
	padding:0px; 
	padding-right:0px; 
	padding-left:0px;  
	border:0px; 
	margin:0px; 
	margin-top:0px; 
	margin-bottom:0px;
}
						
						
.layout_noticias_novo #titulo_pagina { 
	height:auto; 
	padding:0px; 
	border:0px; 
	margin:0px; 
	font-size:22pt; 
    line-height:23pt; 
	font-family:fontsite, tahoma, arial, verdana, sans-serif; 
	letter-spacing:0px; 
	color: #333; 
	word-spacing:normal; 
	font-style:normal; 
	font-weight:normal;
}
				 
							 
.layout_noticias_novo #titulo_noticia {
	padding:0px;
	padding-right:20px;
	padding-top:5px;
	padding-bottom:5px;
	border:0px; 
	margin:0px; 
	font-size:22pt; 
    line-height:21pt; 
	font-family:fontsite, tahoma, arial, verdana, sans-serif; 
	letter-spacing:0px; 
	color: #333; 
	word-spacing:normal; 
	font-style:normal; 
	font-weight:normal;
}								 
							 
.layout_noticias_novo #chamada_noticia { 
	border:0px; 
	margin:0px; 
	padding:0px; 
	padding-bottom:20px; 
	padding-right:15px;
	font-size:12.5pt; 
    line-height:15pt; 
	font-family:"Trebuchet MS", tahoma, arial, verdana, sans-serif; 
	letter-spacing:0px; 
	color: #bf8f1b; 
	word-spacing:normal; 
	font-style:normal; 
	font-weight:normal;
	
}

.layout_noticias_novo #chamada_noticia em,
.layout_noticias_novo #chamada_noticia h1,
.layout_noticias_novo #chamada_noticia h2,
.layout_noticias_novo #chamada_noticia h3,
.layout_noticias_novo #chamada_noticia h4,
.layout_noticias_novo #chamada_noticia h5,
.layout_noticias_novo #chamada_noticia h6, 
.layout_noticias_novo #chamada_noticia address {
	font-size:12.5pt; 
    line-height:15pt; 
	font-family:"Trebuchet MS", tahoma, arial, verdana, sans-serif; 
	letter-spacing:0px; 
	color: #bf8f1b; 
	word-spacing:normal; 
	font-style:normal; 
	font-weight:normal;
}

							 
.layout_noticias_novo #chamada_noticia p {
	padding:0px; 
	border:0px; margin:0px; 
	font-size:11pt; 
    line-height:18px; 
	font-family:tahoma, arial, verdana, sans-serif; 
	letter-spacing:0px; 
	color: #58574B; s
	word-spacing:normal; 
	font-style:normal; 
	font-weight:normal;
	display:inline;
	margin:0px;
	padding:0px;
}	


.layout_noticias_novo .box_msg_baixo {
    width:505px;
	height:auto;
	padding-top:0px;
	padding-bottom:10px;
	padding-left:0px;
	padding-right:0px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:10.5pt;
	font-weight:normal;
	line-height:13pt;
	color:#bf8f1b;
	background-image:none;
}




.layout_noticias_novo #noticias_home {
	font-style:normal;
	font-variant:normal;
	letter-spacing:normal;
	margin:0;
	padding:0;
	text-align:left;
	text-indent:0;
	text-transform:none;
	white-space:normal;
	word-spacing:normal;
	font-size:6.5pt;
	font-weight:bold;
	letter-spacing:-0.5px;
	color:#555;
}

.layout_noticias_novo #noticias_home .marcador_assunto {
	color: #333;
	background-color:#dfdfdf;
	padding:2px;
	padding-left:6px;
	padding-right:6px;
	border-radius:3px;
	-moz-border-radius: 3px;
	-webkit-border-radius:3px;
	text-decoration:none;
	font-family:Verdana, Geneva, sans-serif;
	font-size:7pt;
	letter-spacing:0.1px;
	margin:0px;
	margin-top:5px;
	margin-bottom:3px;
	display:inline-block;
	width:auto;
	font-weight:bold;
}

.layout_noticias_novo #noticias_home .coluna_tarja .marcador_assunto {
	background-color:#cdcbaf;
}
	
	
.layout_noticias_novo #noticias_home .sub_3colunas {
	width:168px;
	margin:0;
	margin-bottom:35px;
	padding:0px;
	text-align:left;
	float:left;
	border-style:solid;
	border-color: #CCCCCC;
	border-right-width:0px;
	border-left-width:0px;
	border-top-width:0px;
	border-bottom-width:0px;
	background-color:#FFFFFF;
}	

.layout_noticias_novo #noticias_home .sub_3colunas img {
	width:150px;
	height:113px;
	border-width:1px;
	border-style:solid;
	border-color:#ccc;
}

.layout_noticias_novo #noticias_home .container_noticias { 
	margin:0px; 
	padding:5px;
	padding-left:0px; 
	padding-right:10px;
	height:60px;
	color:#333;

}	

.layout_noticias_novo #noticias_home .container_noticias h5 { 
	color:#333;
}

.layout_noticias_novo #noticias_home a { 
	font-weight:bold;
	font-size:8.5pt;
	line-height:11pt;
	letter-spacing:-0.5px;
	color:#333;
	text-decoration:none;
}	

.layout_noticias_novo #noticias_home a:hover { 
	color:#bf8f1b;
	text-decoration:none;
}


.layout_noticias_novo #noticias_home .sub_2colunas_larga {
	width:320px; 
	margin:0; 
	padding:0px; 
	padding-top:0px; 
	text-align:left; 
	float:left;
    border-style:solid; 
	border-color: #CCCCCC; 
	border-right-width:0px; 
	border-left-width:0px;
	border-top-width:0px; 
	border-bottom-width:0px;  
}		
																			
					

.layout_noticias_novo #noticias_home .coluna_tarja {
	border-style:solid; 
	border-color: #FFFFFF; 
	border-right-width:0px; 
	border-left-width:0px;
	border-top-width:0px; 
	border-bottom-width:0px; 
	background-color:#EAE9DB; 
	padding:1px; 
	padding-right:0px;
	margin:0px; 
	margin-top:5px;
	margin-bottom:15px;
	overflow:hidden;
	height:92px; 
}
				 
.layout_noticias_novo #noticias_home .coluna_tarja div { 
	height:92px; 
	padding:0px; 
	padding-top:2px; 
	padding-right:10px;
	overflow:hidden;
}

.layout_noticias_novo #noticias_home .coluna_tarja div a { 
	font-weight:normal;
}





.layout_noticias_novo #noticias_home .coluna_tarja img { 
	margin:3px; 
	margin-right:12px;
	width:115px;
	height:86px;
}

.layout_noticias_novo #noticias_home .sub_3colunas_2b {
	width:180px;
	height:220px;
	margin:0;
	padding:0px;
	text-align:left;
	float:left;
	border:0px;
	background-color:#FFFFFF;
}	

.layout_noticias_novo #noticias_home .sub_3colunas_2b a {
	font-size:7.5pt;
	line-height:8.5pt;
}	

.layout_noticias_novo #noticias_home .noticia_sem_foto {
	border-width:0px;
	border-style:solid;
	border-color:#ccc;
	border-top-width:1px;
	padding:5px;
	padding-left:2px;
	padding-right:0px;
	margin:0px;
	margin-left:2px;
	margin-top:5px;
	margin-right:10px;
	max-height:62px;
	overflow:hidden;
}
 



.layout_noticias_novo #painel_ultimas {
	width:480px;
	padding:12px;
	padding-right:8px;
	padding-top:20px;
	margin: 0px;
	margin-top:15px;
	float: left;
	list-style: none;
	font-family: fontsite, arial, verdana, sans-serif; 
    font-size: 18pt;
	background-color:#efefef;
	color:#8979AF;
} 


.layout_noticias_novo #painel_ultimas .titulo {
	font-family: fontsite, arial, verdana, sans-serif; 
    font-size: 16pt;
	text-transform:lowercase;
	color:#fff;
	font-weight:normal;
	background-color:#E4772C;
	padding:4px;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:0px;
	border-radius:5px;
	-moz-border-radius: 5px;
	-webkit-border-radius:5px;
} 

.layout_noticias_novo #painel_ultimas .marcador_assunto {
	color: #333;
	background-color:#dfdfdf;
	padding:2px;
	padding-left:6px;
	padding-right:6px;
	border-radius:3px;
	-moz-border-radius: 3px;
	-webkit-border-radius:3px;
	text-decoration:none;
	font-family:Verdana, Geneva, sans-serif;
	font-size:7pt;
	letter-spacing:0.1px;
	margin:0px;
	margin-top:5px;
	margin-bottom:3px;
	display:inline-block;
	width:auto;
	font-weight:bold;
}

.layout_noticias_novo #painel_ultimas ul {
	list-style: none; 
	margin-top:5px;
	background-color:transparent;
	width:auto;
	padding:0px;
	margin:0px;
}

.layout_noticias_novo #painel_ultimas li { 
	width:auto; 
	padding:0px; 
	margin:0px; 
	margin-bottom:7px;
	margin-right:7px; 
	text-align:left; 
	border-width:0px;
	font-family:Verdana, Geneva, sans-serif;
	font-size:8pt;
	border-width:0px;
	border-style:dashed;
	border-color:#bbb;
	border-bottom-width:1px;				   
 }


















.layout_noticias_novo #titulo #banner_evento {
	padding:0px;
	background-color:#FFFFFF;
	border-style:solid;
	border-color:#FFFFFF;
	border-width:0px;
	text-align:left;
	width:520px;
	margin:0px;
}	
.layout_noticias_novo #titulo #banner_evento img {
	padding:0px;
	border-style:solid;
	border-color:#EEEEEE;
	border-width:0px;
	text-align:left;
}

.layout_noticias_novo #titulo #transmissao {
	background-color:#FFFFFF;
	color: #FFFFFF;
	text-decoration:none; 
	padding:0px;
	margin:0px;
}	


			
.layout_noticias_novo #conteudo_coluna2B #conteudo_pagina {
    padding:0px;
	padding-top: 25px;
	margin:0px;
	margin-left:25px;
	margin-right:25px;
}		
			
		
.layout_noticias_novo  #conteudo_coluna3B #galeria  {
	cursor: default; 
	list-style: none; 
	padding:0px; 
	padding-left:12px;
	padding-bottom:15px;
	border-width: 0px;
	border-top-width: 2px;
	border-bottom-width: 2px;
	border-right-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color:#ebead7;
	text-align:center;
}

.layout_noticias_novo  #conteudo_coluna3B #galeria img {
	background: #fff;
	border: 0px solid #CCCCCC;
	color: inherit;
	padding: 1px;
	vertical-align: top;
	width: 115px;
	height: 86px;
	margin: 0px;
	float: none;
}

	

.layout_noticias_novo  #conteudo_coluna3B #galeria img:hover {
	background-color: #58574B;
}

.layout_noticias_novo  #conteudo_coluna3B #galeria ul {
	font-weight:bold;
	list-style-type: none;
	padding:0px;
	list-style-image:none;
	overflow:auto;
}

.layout_noticias_novo  #conteudo_coluna3B #galeria li {
	color: inherit;
	float: left;
	margin: 0px;
	padding: 0px;
	position: relative;
	list-style-type: none;
	list-style-image: none;
}		   


.layout_noticias_novo  #conteudo_coluna3B #galeria h1 {
	font-size: 11pt;
	font-family: verdana, arial, sans-serif;
	color: #58574B;
	word-spacing: normal;
	font-style:normal;
	font-weight:bold;
	text-align:left;
	padding-bottom:8px;
	padding-top:11px;
	padding-right: 0px;
	padding-left: 5px;
	border-width: 0px;
	border-top-width: 0px;
	border-style: solid;
	border-color: #FFFFFF;
	margin: 0px;
	margin-bottom:8px;
	margin-top:3px;
}	

.layout_noticias_novo  #conteudo_coluna3B #galeria h1 a {
	padding:4px;
	padding-top:2px;
	padding-bottom:2px;
	margin:0px;
	background-color:#e4dcca;
	border-style:solid;
	border-width:1px;
	border-color:#c4bba7;
	color: #666666; 
	font-weight: bold; 
	font-size: 9pt; 
	line-height: 11pt; 
    font-family: Verdana, Helvetica, sans-serif; 
}

.layout_noticias_novo  #conteudo_coluna3B #galeria h1 a:hover {
	background-color:#333333;
	color: #FFFFFF;
	text-decoration:none; 
	
}

	
	

.layout_noticias_novo  #conteudo_coluna3B #arquivos  { 
    cursor: default; 
	list-style: none; 
	padding:0px; 
	padding-left:12px;
	padding-bottom:15px;
	border-width: 0px;
	border-top-width: 2px;
	border-bottom-width: 2px;
	border-right-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color:#ebead7;

}


.layout_noticias_novo  #conteudo_coluna3B #arquivos ul {
	font-weight:bold;
	list-style-position: outside;
	list-style-type:none;
	padding:0px;
	padding-top:0px;
	padding-left:5px;
	padding-right:20px;
	overflow:auto;
}

.layout_noticias_novo  #conteudo_coluna3B #arquivos li {
	margin: 0px;
	margin-left:0px;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 3px;
	padding-left: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
	border-style:dashed;
	border-color:#57584B;
	border-width:0px;
	border-top-width:1px;
}

.layout_noticias_novo  #conteudo_coluna3B #arquivos li h1 {
	margin: 0px;
	margin-left:15px;
	position: relative;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: bold;
	padding: 0px;
	border-width: 0px;
	background-image: none;
	margin: 0px;
}

.layout_noticias_novo  #conteudo_coluna3B #arquivos a {
	color: #57584B;
	text-decoration: none;	
}

.layout_noticias_novo  #conteudo_coluna3B #arquivos p {
	color: #57584B;
	text-decoration: none;
	padding:2px;
	padding-left:5px;
}

.layout_noticias_novo #conteudo_coluna3B #arquivos a:hover {
	color: #FFFFFF;
	text-decoration: none;
	background-color:#ac9e90;
}

.layout_noticias_novo #conteudo_coluna3B #arquivos p:hover {
	color: #FFFFFF;
	text-decoration: none;
	background-color:#ac9e90;
}	
  


.layout_noticias_novo #conteudo_coluna3B #arquivos h1 {
	font-size: 11pt;
	font-family: verdana, arial, sans-serif;
	color: #58574B;
	word-spacing: normal;
	font-style:normal;
	font-weight:bold;
	text-align:left;
	padding-bottom:8px;
	padding-top:11px;
	padding-right: 0px;
	padding-left: 5px;
	border-width: 0px;
	border-top-width: 0px;
	border-style: solid;
	border-color: #FFFFFF;
	margin: 0px;
	margin-bottom:8px;
	margin-top:3px;
}	

.layout_noticias_novo  #conteudo_coluna3B #arquivos h1 a {
	padding:4px;
	padding-top:2px;
	padding-bottom:2px;
	margin:0px;
	background-color:#e4dcca;
	border-style:solid;
	border-width:1px;
	border-color:#c4bba7;
	color: #666666; 
	font-weight: bold; 
	font-size: 9pt; 
	line-height: 11pt; 
    font-family: Verdana, Helvetica, sans-serif; 
}

.layout_noticias_novo  #conteudo_coluna3B #arquivos h1 a:hover {
	background-color:#333333;
	color: #FFFFFF;
	text-decoration:none; 
	
}



.layout_noticias_novo #conteudo_coluna2B #conteudo_pagina table {
	margin:0px;
	margin-top: 20px;
	margin-bottom: 20px;
	width:525px;
	padding:0px;
	border-width:0px;
	border-collapse: collapse;
}	

.layout_noticias_novo #conteudo_coluna2B #conteudo_pagina th {
	color: #333333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9.5pt;
	line-height: 12pt;
	text-align:left;
	vertical-align:top;
	
	padding:8px;
	border-style:solid;
	border-color:#999999;
	border-width:0px;
	border-bottom-width:1px;
	background-color: #FFFFFF;
}	

.layout_noticias_novo #conteudo_coluna2B #conteudo_pagina th p {
	padding:0px;
	margin:0px;
	
	color: #333333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9.5pt;
	line-height: 12pt;
	text-align:left;
	vertical-align:top;
}

.layout_noticias_novo #conteudo_coluna2B #conteudo_pagina td {
	color: #333333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
	line-height: 11pt;
	text-align:left;
	vertical-align:top;
	
	padding:8px;
	border-style:solid;
	border-color:#999999;
	border-width:0px;
	border-bottom-width:1px;
	background-color: #FFFFFF;
	
}	

.layout_noticias_novo #conteudo_coluna2B #conteudo_pagina td p {
	padding:0px;
	margin:0px;
	
	color: #333333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
	line-height: 11pt;
	text-align:left;
	vertical-align:top;
}	
	
.layout_noticias_novo #conteudo_coluna2B #conteudo_pagina td+td {
	border-left: 1px solid #AAAAAA;
	text-align: center;
	}		
				
	
	
			 
				
.layout_noticias_novo #banner_agenda { height:120px; padding:0px; border:0px; margin:0px; font-size:8.5pt; 
                                  line-height:10px; font-family:verdana, sans-serif; letter-spacing:0px; 
							      color: #666666; word-spacing:normal; font-style:normal; font-weight:bold;
							      background-image:url(imagens/not_agenda3.jpg); padding:0px;
}

.layout_noticias_novo #banner_noticias { height:120px; padding:0px; border:0px; margin:0px; font-size:8.5pt; 
                                  line-height:10px; font-family:verdana, sans-serif; letter-spacing:0px; 
							      color: #666666; word-spacing:normal; font-style:normal; font-weight:bold;
							      background-image:url(imagens/not_ultimas.jpg); padding:0px;
}	










.layout_noticias_novo #conteudo_pagina {
	padding-bottom:0px;
	padding-right:25px;
	padding-top: 0px;
	padding-left: 0px;
}	

.layout_noticias_novo #conteudo_pagina #legenda_foto {
    font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:6pt;
	font-weight:normal;
	color:#333333;
	background-color:transparent;
	padding:0px;
	padding-left:3px;
	margin:0px;
}		
							 
.layout_noticias_novo #conteudo_pagina #imagem_principal {
	float: left;
	padding:4px;
	margin-right:20px;
	margin-bottom:10px;
	background-color:#efefef;
	width:245px;
	
}

.layout_noticias_novo #conteudo_pagina #imagem_principal a {
	padding: 0px;
	margin: 0px;
}

.layout_noticias_novo #conteudo_pagina #imagem_principal img {
	padding: 2px;
	float: none;
	margin: 0px;
	border: 0px solid #CCCCCC;
	width:240px;
	height:180px;
}


.layout_noticias_novo #conteudo_pagina #imagem_principal img:hover {
	background-color: #999999;
}
									
									
.layout_noticias_novo #conteudo_pagina #imagem_principal div {
	width:240px; 
	padding:0px; 
	padding-left:8px; 
	padding-bottom:6px;  
    background-color:#efefef;
	font-family:verdana, sans-serif; 
	letter-spacing:0px;  
	font-size:7.5pt;
	line-height:10.5pt;
	color: #333; 
	font-style:normal; 
	font-weight:bold;
	margin:0px;
}

.layout_noticias_novo #conteudo_pagina #imagem_principal div p {
	font-family:verdana, sans-serif; 
	letter-spacing:0px;  
	font-size:7.5pt;
	line-height:10.5pt;
	color: #333; 
	font-style:normal; 
	font-weight:bold;
	margin:0px;
	padding:0px;
}		

.layout_noticias_novo #conteudo_pagina #imagem_principal .video_principal {
	padding:0px;  
    background-color:#efefef;
	margin:0px;
	margin-top:3px;
	margin-left:2px;
	margin-bottom:6px;
	width:240px;
	border-width:1px;
	border-color:#ddd;
	border-style:solid;
}																	 					 


.layout_noticias_novo #conteudo_pagina #noticias_relaciondas {
	width:223px; 
	padding:15px; 
	padding-bottom:20px; 
	padding-top:10px; 
	float: left;
    background-color:#F7F5E2;
	font-family:verdana, sans-serif; 
	letter-spacing:0px;  
	font-size:9pt; 
	color: #333333; 
	font-style:normal; 
	font-weight:bold;
	border-style:solid; 
	border-color: #FFFFFF; 
	border-right-width:15px; 
	border-left-width:0px; 
	border-top-width:0px; 
	border-bottom-width:5px;

}

.layout_noticias_novo #conteudo_pagina #noticias_relaciondas h2 {
    color: #58574B;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11.5pt;
	font-weight: bold;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 20px;

}

.layout_noticias_novo #conteudo_pagina #noticias_relaciondas ul {
	margin: 0px;
	padding: 0px;
	padding-left:20px;
	border: 0px solid #CCCCCC;
	list-style-position: outside;
	list-style-type: square;
}

.layout_noticias_novo #conteudo_pagina #noticias_relaciondas li {
	padding-top:7px;
	background-color:#F7F5E2;
	font-family:verdana, sans-serif;
	letter-spacing:0px;
	font-size:9pt;
	color: #666666;
	font-style:normal;
	font-weight:bold;
	border-style:dashed;
	border-color: #666666;
	border-right-width:0px;
	border-left-width:0px;
	border-top-width:1px;
	border-bottom-width:0px;
	margin: 0px;
	padding-right: 0px;
	padding-bottom: 7px;
	padding-left: 0px;
}
	
	
.layout_noticias_novo #conteudo_pagina p  {
	list-style: none;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
	line-height: 13.5pt;
	font-weight: normal;
	color: #333333;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
	
									
.layout_noticias_novo #conteudo_pagina h1 {
	color: #333;
	text-align: left;
	width: 460px;
	padding-top: 15px;
	padding-right: 0px;
	padding-bottom: 7px;
	padding-left: 0px;
	border-width: 0px;
	border-bottom-width: 1px;
	border-style: solid;
	border-color: #CCCCCC;
	background-image: none;
	font-family: fontsite, Arial, Helvetica, sans-serif;
	font-size: 19pt;
	line-height:21pt;
	font-weight: normal;
	text-transform:lowercase;
	
}

.layout_noticias_novo #conteudo_pagina h2 {
	color: #EEBB23;
	font-family: "Trebuchet MS", tahoma, Arial, Helvetica, sans-serif;
	font-size: 13pt;
	line-height:15pt;
	font-weight: bold;
	padding: 0px;
	margin:0px;
	margin-bottom:8px;
	margin-top:15px;
}


.layout_noticias_novo #conteudo_pagina h3 { 
    color: #58574B;
	font-family: "Trebuchet MS", tahoma, Arial, Helvetica, sans-serif;
	font-size: 11.5pt;
	font-weight: bold;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 3px;
	padding-left: 0px;
	 }

.layout_noticias_novo #conteudo_pagina h3 a { 
	color: #EEBB23; 
	font-weight:bold; 
}

.layout_noticias_novo #conteudo_pagina h3 a:hover { 
	color: #B54615; 
}

.layout_noticias_novo  #conteudo_pagina h4 {
	color: #EEBB23;
	font-family: "Trebuchet MS", tahoma, Arial, Helvetica, sans-serif;
	font-size: 11.5pt;
	font-weight: bold;
}

.layout_noticias_novo  #conteudo_pagina h5 {
	color: #58574B;
	font-family: "Trebuchet MS", tahoma, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: bold;
}

.layout_noticias_novo  #conteudo_pagina h5 a {
	font-weight:bold; 
}

.layout_noticias_novo  #conteudo_pagina h6 {
	color: #EEBB23;
	font-family: "Trebuchet MS", tahoma, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: bold;
}


.layout_noticias_novo  #conteudo_pagina #galeria  { 
	cursor: default; 
	list-style: none; 
	padding:0px;
	background-color:#efefef;
	position:relative;
	left:-18px;
	width:auto;
	height:auto;
	margin:0px;
	margin-bottom:10px;
	margin-top:50px;
	border-width:0px;
	border-style:solid;
	border-color:#EEBB23;
	border-top-width:0px;
	
}

.layout_noticias_novo  #conteudo_pagina #galeria img {
	background: #fff;
	border: 0px solid #CCCCCC;
	color: inherit;
	padding: 2px;
	vertical-align: top;
	width: 110px;
	height: 82px;
	margin: 1px;
	float: none;
}


.layout_noticias_novo  #conteudo_pagina #galeria img:hover {
	background-color: #bf8f1b;
}

.layout_noticias_novo  #conteudo_pagina #galeria ul {
	font-weight:bold;
	padding:0px;
	padding-left:15px;
	padding-bottom:15px;
	padding-top:15px;
	list-style-type: none;
	list-style-image:none;
	border-width:0px;
	background-color:#efefef;
	overflow: hidden;
	height:auto;
	width:95%;
}

.layout_noticias_novo  #conteudo_pagina #galeria li {
	float: left;
	margin: 0px;
	padding: 0px;
	position: relative;
	list-style-type: none;
	list-style-image: none;
	background-image:none;
	width:115px;
	height:88px;
}		   


.layout_noticias_novo  #conteudo_pagina #galeria h1 {
	width:150px;
	position:relative;
	left:0px;
	margin:0px;
	font-size: 15pt;
	font-family: fontsite, tahoma, verdana, arial, sans-serif;
	color: #fff;
	word-spacing: normal;
	font-style:normal;
	font-weight:normal;
	text-align:left;
	padding-bottom:3px;
	padding-top:3px;
	padding-right: 10px;
	padding-left: 18px;
	border-width: 0px;
	text-transform:lowercase;
	background-color:#EEBB23;
	border-radius:0px;
	-moz-border-radius: 0px;
	-webkit-border-radius:0px;
	border-bottom-right-radius:7px;
	-moz-border-radius-bottomright: 7px;
	-webkit-border-bottom-right-radius:7px; 
}

	
	
.layout_noticias_novo #conteudo_pagina #arquivos  { 
	cursor: default; 
	list-style: none; 
	padding:0px;
	background-color:#efefef;
	position:relative;
	left:-18px;
	width:auto;
	height:auto;
	margin-bottom:10px;
	margin-top:50px;
	border-width:0px;
	border-style:solid;
	border-color:#EEBB23;
	border-top-width:0px;
}


.layout_noticias_novo #conteudo_pagina #arquivos ul {
	font-weight:bold;
	list-style-position: outside;
	list-style-type: none;
	padding-right:15px;
	padding-top:15px;
	padding-bottom:20px;
	width:500px;
	border-width:0px;
	background-color:#efefef;
	overflow: hidden;
	height:auto;
	width:95%;
}

.layout_noticias_novo #conteudo_pagina #arquivos li {
	margin: 0px;
	margin-left:25px;
	position: relative;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 16px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
	background-image: url(imagens/marcador_laranja.png);
	background-repeat:no-repeat;
	background-position:0px 3px;
}

.layout_noticias_novo #conteudo_pagina #arquivos li a:hover,
.layout_noticias_novo #conteudo_pagina #arquivos li p:hover{
	text-decoration:underline;
	color:#B54615;
	
}

.layout_noticias_novo #conteudo_pagina #arquivos li h1 {
	margin: 0px;
	margin-left:15px;
	position: relative;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: bold;
	padding: 0px;
	border-width: 0px;
	background-image: none;
	margin: 0px;
}

.layout_noticias_novo  #conteudo_pagina #arquivos a {
	color: #333333;
	text-decoration: none;
}

.layout_noticias_novo #conteudo_pagina #arquivos a:hover {
	color: #B54615;
}		   


.layout_noticias_novo #conteudo_pagina #arquivos h1 {
	width:180px;
	position:relative;
	left:0px;
	margin:0px;
	font-size: 15pt;
	font-family: fontsite, tahoma, verdana, arial, sans-serif;
	color: #fff;
	word-spacing: normal;
	font-style:normal;
	font-weight:normal;
	text-align:left;
	padding-bottom:3px;
	padding-top:3px;
	padding-right: 10px;
	padding-left: 18px;
	border-width: 0px;
	text-transform:lowercase;
	background-color:#EEBB23;
	border-radius:0px;
	-moz-border-radius: 0px;
	-webkit-border-radius:0px;
	border-bottom-right-radius:7px;
	-moz-border-radius-bottomright: 7px;
	-webkit-border-bottom-right-radius:7px; 
}	



.layout_noticias_novo #conteudo_pagina ol {
	padding-left: 10px;
	list-style-position: inside;
	list-style-image: none;
	list-style-type: decimal;
}

.layout_noticias_novo #conteudo_pagina ol li {
	padding-left:0px;
	padding-right:20px;
	border:0px;
	margin:0px;
	margin-left:15px;
	font-size:8.5pt;
	line-height:15pt;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	letter-spacing:0px;
	color: #333333;
	word-spacing:normal;
	font-style:normal;
	font-weight:normal;
	text-align: left;
}

.layout_noticias_novo #conteudo_pagina ul {
	padding-left: 1px;
	list-style-position:outside;
	list-style-type: none;
	list-style: none;
    margin: 0;
    padding: 0;
    border: none;
}

.layout_noticias_novo #conteudo_pagina ul li {
	padding-top: 0px;
	padding-left:23px;
	padding-right:20px;
	padding-top:10px;
	border:0px;
	margin:0px;
	margin-left:0px;
	margin-right:10px;
	position: relative;
	font-size:8.5pt;
	line-height:12pt;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	letter-spacing:0px;
	color: #333333;
	word-spacing:normal;
	font-style:normal;
	font-weight:normal;
	text-align: left;
	background-image: url(imagens/entid_marcador_novo.png);
	background-repeat:no-repeat;
	background-position:5px 13px;
	text-indent:0px;
}

.layout_noticias_novo #conteudo_pagina ul li p {
	margin:0px;
	padding:0px;
	text-indent:0px;
}

.layout_noticias_novo #conteudo_pagina ul li h1,
.layout_noticias_novo #conteudo_pagina ul li h2,
.layout_noticias_novo #conteudo_pagina ul li h3,
.layout_noticias_novo #conteudo_pagina ul li h4,
.layout_noticias_novo #conteudo_pagina ul li h5,
.layout_noticias_novo #conteudo_pagina ul li h6 {
	margin:0px;
	padding:0px;
}

			


.layout_noticias_novo #conteudo_pagina table {
	margin:0px;
	margin-top: 20px;
	margin-bottom: 20px;
	width:525px;
	padding:0px;
	border-width:0px;
	border-collapse: collapse;
}	

.layout_noticias_novo #conteudo_pagina th {
	color: #333333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10.5pt;
	line-height: 12pt;
	text-align:left;
	vertical-align:top;
	padding:8px;
	border-style:solid;
	border-color:#999999;
	border-width:0px;
	border-bottom-width:1px;
	background-color: #FFFFFF;
}	

.layout_noticias_novo #conteudo_pagina th p {
	padding:0px;
	margin:0px;
	color: #333333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9.5pt;
	line-height: 12pt;
	text-align:left;
	vertical-align:top;
}

.layout_noticias_novo #conteudo_pagina td {
	color: #333333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
	line-height: 11pt;
	text-align:left;
	vertical-align:top;
	
	padding:8px;
	border-style:solid;
	border-color:#999999;
	border-width:0px;
	border-bottom-width:1px;
	background-color: #FFFFFF;
	
}	

.layout_noticias_novo #conteudo_pagina td p {
	padding:0px;
	margin:0px;
	
	color: #333333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8.5pt;
	line-height: 11pt;
	text-align:left;
	vertical-align:top;
}	
	
.layout_noticias_novo #conteudo_pagina td+td {
	border-left: 1px solid #AAAAAA;
	text-align: center;
	}	




.layout_noticias_novo #conteudo_pagina img {
	padding: 10px;
	float: left;
	margin-top: 10px;
	margin-right: 20px;
	margin-bottom: 10px;
	margin-left: 0px;
	border: 1px solid #CCCCCC;
}	







.layout_noticias_novo #area_paginacao {
	padding:0px;
	padding-top:15px;
	border-style:dotted;
	border-color:#CCCCCC;
	border-width:0px;
	border-top-width:1px;
	margin:0px;
	margin-top:10px;
}


.layout_noticias_novo #area_paginacao a {
	padding:2px;
	padding-left:4px;
	padding-right:4px;
	background-color:#FFFFFF;
	color: #888888;
	font-weight:normal;
	border-style:solid;
	border-width:1px;
	border-color:#CCCCCC;
	text-decoration:none;
	font-size:8pt;
}	

.layout_noticias_novo #area_paginacao a:hover {
	background-color:#D38835;
	color:#FFFFFF;
	text-decoration:none;
}

.layout_noticias_novo #area_paginacao span a {
	padding:2px;
	background-color:#FFFFFF;
	border-bottom-style:solid;
	border-width:0px;
	border-color:#FFFFFF;
	margin:2px;
}

.layout_noticias_novo #area_paginacao span a:hover {
	background-color:#FFFFFF;
	color:#FFFFFF;
	text-decoration:none;
}	

.layout_noticias_novo #area_paginacao b {
	padding:2px;
	padding-left:4px;
	padding-right:4px;
	background-color:#D38835;
	color: #FFFFFF;
	font-weight:bold;
	border-style:solid;
	border-width:1px;
	border-color:#D38835;
}




.result_busca_noticia {
	padding-top:10px; 
	padding-bottom:5px; 
	padding-left:0px; 
	padding-right:10px; 
	text-align:left;
    border-style:dashed; 
	border-color: #999999; 
	border-right-width:0px; 
	border-left-width:0px;
	border-top-width:0px; 
	border-bottom-width:0px; 
	font-weight:normal;
	font-size:8.5pt;
	line-height: 11pt;
}

.result_busca_noticia td {
	border-style:dashed; 
	border-color: #CCCCCC; 
	border-right-width:0px; 
	border-left-width:0px;
	border-top-width:1px; 
	border-bottom-width:0px; 
	padding:0px;
	padding-top:7px;
	vertical-align:top;
}

.result_busca_noticia img {
	margin:0px;
	margin-right:10px; 
	margin-top:4px;
}

.result_busca_noticia p { 
	font-weight:normal;
	font-size:8.5pt;
	line-height: 11pt;
}


.result_busca_calendario {
	padding-top:0px; 
	padding-bottom:0px; 
	padding-left:0px; 
	padding-right:10px; 
	text-align:left;
    border-style:dashed; 
	border-color: #999999; 
	border-right-width:0px; 
	border-left-width:0px;
	border-top-width:0px; 
	border-bottom-width:0px; 
	font-weight:normal;
	font-size:8.5pt;
	line-height: 11pt;
	margin:0px;
	margin-bottom:5px;
}

.result_busca_calendario .calendario_capa_data { 
	background-color:transparent;
	padding:0px;
	padding-top:0px;
	padding-bottom:0px;
	margin:0px;
	width:100px;
	height:22px;
	text-align:left;
	text-transform:uppercase;
	color:#AAA58D;
	font-size:9pt;
	font-weight:bold;
	border-style:dotted; 
	border-color: #888888; 
	border-right-width:0px; 
	border-left-width:0px;
	border-top-width:1px; 
	border-bottom-width:0px; 
}

.result_busca_calendario .calendario_data { 
	font-weight:bold;
	font-size:23pt;
	line-height: 14pt;
	font-family:Lucida Sans Unicode, Lucida Grande,  Verdana, Arial, Helvetica, sans-serif;
	background-color:transparent;
	color:#EEBB23;
	padding:0px;
	margin:0px;
	margin-left:7px;
	margin-right:4px;
	text-align:left;
	position:relative;
	top:10px;
}

.result_busca_calendario .intra_calendario_data { 
	font-weight:bold;
	font-size:23pt;
	line-height: 14pt;
	font-family:Lucida Sans Unicode, Lucida Grande,  Verdana, Arial, Helvetica, sans-serif;
	background-color:transparent;
	color:#1A67A2;
	padding:0px;
	margin:0px;
	margin-left:7px;
	margin-right:4px;
	text-align:left;
	position:relative;
	top:10px;
}

.result_busca_calendario .ent_calendario_data { 
	font-weight:bold;
	font-size:23pt;
	line-height: 14pt;
	font-family:Lucida Sans Unicode, Lucida Grande,  Verdana, Arial, Helvetica, sans-serif;
	background-color:transparent;
	color:#1FA0B6;
	padding:0px;
	margin:0px;
	margin-left:7px;
	margin-right:4px;
	text-align:left;
	position:relative;
	top:10px;
}

.result_busca_calendario .celula_data { 
	background-color:transparent;
	width:100px;
	margin:0px;
}



.result_busca_calendario .calendario_data_azul { 
	font-weight:bold;
	font-size:11pt;
	line-height: 14pt;
	font-family:Lucida Sans Unicode, Lucida Grande,  Verdana, Arial, Helvetica, sans-serif;
	background-color:#199FB5;
	color:#FFFFFF;
	padding:8px;
	padding-top:12px;
	padding-bottom:12px;
	margin:0px;
	margin-left:0px;
	margin-right:7px;
	text-align:right;
}

.result_busca_calendario .calendario_evento { 
	font-weight:bold;
	font-size:10pt;
	line-height: 13pt;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#333333;
	padding:0px;
	padding-top:2px;
	
}

.result_busca_calendario .calendario_entidade { 
	font-weight:normal;
	font-size:8.5pt;
	line-height: 10pt;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#333333;
	padding:0px;
	padding-top:2px;
	
}

.result_busca_calendario ul {
	list-style-type:none;
	margin:0px;
	padding:0px;
}

.result_busca_calendario li {
	font-weight:normal;
	font-size:8.5pt;
	line-height: 10pt;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#333333;
	padding:0px;
	padding-top:5px;
	padding-bottom:8px;
	padding-left:10px;
	margin:0px;
	border-style:dotted;
	border-width:0px;
	border-top-width:1px;
	border-bottom-width:0px;
	border-color:#888888;
}



.layout_sistema {width:100%; margin:0 auto; text-align:left vertical-align:top; background-color:#FFF; } 
			 
			 

.layout_sistema #caminho_migalhas { font-family: verdana, arial, sans-serif; font-style:normal; font-weight:normal; 
                        font-size:8pt; color: #666666; padding:0px; padding-right:0px; padding-left:0px;  
	                    border:0px; margin:0px; margin-top:0px; margin-bottom:0px;}
						
						
.layout_sistema #titulo_pagina { height:55px; padding:0px; border:0px; margin:0px; font-size:19.5pt; 
                             line-height:30px; font-family:tahoma, arial, verdana, sans-serif; letter-spacing:0px; 
							 color: #58574B; word-spacing:normal; font-style:normal; font-weight:bold;}
							 
							 

