/*********************************** forms *****************************************/

.live label { 
	
}

.live input, select {
  width:180px;
}

.live input, textarea, select {
  border:1px solid #aaaaaa;
  padding:2px;
  background:#ffffff;
  margin-top:2px;
}

.live input.checkbox {
  width:15px;
  background:none;
  border:0;
}

.live input.radio_button {
  width:15px;
  background:none;
  border:0;
}

.live input.small, select.small {
  width:50px;
}

.live input.large, select.large {
  width:200px;
}

.live input.extra_large, select.extra_large {
  width:300px;
}

.live input:hover, textarea:hover, select:hover {
  border:1px solid #888888;
}

.live input:active, textarea:active, select:active {
  border:1px solid #888888;
}

.live input.submit {
  background:#ffffff;
  color:#ffffff;
}

.live input.submit:hover {  
  cursor: pointer;
}

.live fieldset {
  background:#f7f7f7;
  padding:2%;
  border:1px solid #e3e3e3;
  margin:0;
}

.live legend {
  font-weight:bold;
  font-size: 100%; 
  letter-spacing: -1px;
  color:#666666;
}

/********************************* LiveValidation *************************************/

.LV_valid {
    color:#1A67A2;
}
	
.LV_invalid {
	color:#CC0000;
}
	
.LV_validation_message{	
	font-weight:bold;
    margin:0 0 0 5px;
}
    
.LV_valid_field,
input.LV_valid_field:hover, 
input.LV_valid_field:active,
textarea.LV_valid_field:hover, 
textarea.LV_valid_field:active,
.fieldWithErrors input.LV_valid_field,
.fieldWithErrors textarea.LV_valid_field {
    border: 1px solid #1A67A2;
}
    
.LV_invalid_field, 
input.LV_invalid_field:hover, 
input.LV_invalid_field:active,
textarea.LV_invalid_field:hover, 
textarea.LV_invalid_field:active,
.fieldWithErrors input.LV_invalid_field,
.fieldWithErrors textarea.LV_invalid_field {
    border: 1px solid #CC0000;
}

