html{        
	height: 100%;	
}
BODY {margin:0; 
		padding:0; 
		font-family:Calibri, "Britannic Bold";
		font-size: 11px;
		background-position:center;
	 	background-repeat: no-repeat;
}

.borda {
	border:1px solid #003399;
}



input {
	font-family:Calibri, "Britannic Bold";
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	background-color: #ffffff;
	height:17px;
}

textarea {
	font-family:Calibri, "Britannic Bold";
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	background-color: #ffffff;
	border: 1px solid #999999;
}

a:link {
	color: #000000;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #000000;
}
a:hover {
	text-decoration: underline;
	color: #333333;
}
a:active {
	text-decoration: none;
	color: #000000;
}
.branco {
	color: #ffffff;
	font-size:11px;
	font-family:Calibri, "Britannic Bold";
}
.fieldset{
	color:#900;
	font-size:12px;
	font-family:Calibri, "Britannic Bold";
	font-weight:bold;
}
.select{
	color: #000000;
	font-size:11px;
	font-family:Calibri, "Britannic Bold";
}
.letra{ font-family:Calibri, "Britannic Bold";
color:#000000;
font-size:12px
}

.titulo1{ font-family:Calibri, "Britannic Bold";
color:#000000;
font-size:14px;
font-weight:bold;
}

.diario{ font-family:Calibri, "Britannic Bold";
color:#900;
font-size:40px;
font-weight:bold;
}

.titulo2{ font-family:Calibri, "Britannic Bold";
color:#000000;
font-size:14px;
}
.titulo3{ font-family:Calibri, "Britannic Bold";
color:#000000;
font-size:16px;
font-weight:bold;
}
.negrito{ font-family:Calibri, "Britannic Bold";
color:#000000;
font-size:12px;
font-weight:bold;
}
.texto{ font-family:Calibri, "Britannic Bold";
color:#000000;
font-size:11px;
}
.cinza{ font-family:Calibri, "Britannic Bold";
color:#666666;
font-size:11px;
font-weight:bold;
}
.escuro{ font-family:Calibri, "Britannic Bold";
color:#333333;
font-size:11px;
font-weight:bold;
}

.botao{
    font-family:Calibri, "Britannic Bold";
	font-weight:bold
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	background-color: #cccccc;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
	height:20px;
	width:80px;
}
.botao_chamada{
    font-family:Calibri, "Britannic Bold";
	font-weight:bold
	font-size: 11px;
	color: #ffffff;
	text-decoration: none;
	background-color: #104E8B;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
	height:20px;
	width:80px;
}
.layer1 {
margin: 0;
padding: 0;
width: 100%;
}
 
.heading {
margin: 1px;
color: #000000;
padding: 3px 10px;
cursor: pointer;
position: relative;
font-weight:bold
}
.content {
padding: 5px 10px;
}
p { padding: 5px 0; }

.password {
font-size : 11px;
border : 1px solid #999999;
width : 329px;
font-family : arial, sans-serif;
}
.pstrength-minchar {
font-size : 10px;
}

.style1 {
	font-family:Calibri, "Britannic Bold";
	font-weight: bold;
	font-size: 13px;
}
.style2 {
	font-family:Calibri, "Britannic Bold";
	font-size: 13px;
}
.style3 {
	font-family:Calibri, "Britannic Bold";
	font-weight: bold;
	font-size: 15px;
	text-decoration: underline;
}
.branco {
	font-family:Calibri, "Britannic Bold";
	font-weight: bold;
	font-size: 12px;
	color:#FFFFFF
}
.turno1{ font-family:Calibri, "Britannic Bold";
color:#104E8B;
font-size:11px;
font-weight:bold;
}
.turno2{ font-family:Calibri, "Britannic Bold";
color:#1874CD;
font-size:11px;
font-weight:bold;
}
.turno3{ font-family:Calibri, "Britannic Bold";
color:#63B8FF;
font-size:11px;
font-weight:bold;
}
.turno4{ font-family:Calibri, "Britannic Bold";
color:#1C86EE;
font-size:11px;
font-weight:bold;
}
.codigo{
    height:12px;
	font-family:Calibri, "Britannic Bold";
	font-size:11px;
}

.codigomaterial{
    height:15px;
	font-family:Calibri, "Britannic Bold";
	font-size:13px;
	color:#FF0000;
	font-weight:bold;
}
.menu_guia{ font-family:Calibri, "Britannic Bold";
font-size:12px;
color:#333333;
text-decoration:none;
}
p {text-indent: 30px;}

.cabecalho{ font-family:Calibri, "Britannic Bold";
color:#000000;
font-size:14px;
font-weight:bold;
}