body{
	background-color: #00688B;
}

.container{
	margin-top: 20px;
	max-width: 900px;
	background-color: #FFF;
	padding: 20px;
	border: 1px solid #DEDEDE;
	border-radius: 3px;
}

.containers{
	margin-top: 20px;
	max-width: 1000px;
	background-color: #FFF;
	padding: 20px;
	border: 1px solid #000000;
	border-radius: 3px;
	text-align: left;
}

.containerT{
	margin-top: 20px;
	max-width: 500px;
	background-color: #FFF;
	padding: 20px;
	border-radius: 3px;
	text-align: center;
}

.error{
	border-color: red;
}

.botao{
	width: 100px;
	margin: 20px 0 0 0;
	text-align: center;
}

.col-md-6, .col-md-3, .col-md-12{
	margin-bottom: 3px;
}

#semMargem{
	margin-left: 0px;
}

.pmf{
	height: 75px;
	width: auto;
	float: left;
	display: block;
}

.fcc{
	height: 100px;
	width: auto;
	float: right;
	display: block;
}

h1{
	font-size: 2em;
	text-shadow: 1px 1px 1px #888888;
	font-family: 'Montserrat', sans-serif;
	color: #383838;
	margin-bottom:20px;
	margin-top: 0px;
	text-align: center;
}

h2{
	font-size: 1.5em;
	text-align: center;
}

h4{
	font-family: 'Montserrat', sans-serif;
	color: #383838;
}

.responsabilidade{
	border: 1px solid #CCC;
	background-color: #FFF;
	padding: 15px;
	border-radius: 5px;
	margin: 10px 0 10px 0;
	overflow: auto;
	max-height: 500px;
	font-size: 0.9em;
}

.lembrete{
	border: 1px solid #CCC;
	background-color: #87CEFF;
	padding: 15px;
	border-radius: 5px;
	margin: 10px 0 10px 0;
	overflow: auto;
	max-height: 500px;
	font-size: 0.9em;
}

p{
	text-align: justify;
	text-align: center;
}

.notice{
	background-color: #FFF;
	border: 1px solid #000;
	height: 135px;
	width: 440px;
	padding: 10px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin: -75px 0 0 -200px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	border-radius: 5px;
	z-index: 1;
	text-align: center;
	padding-top: 30px;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
}

.notice, .overlay {
	display: none;
}
 
h4{
	text-align: center;
	font-weight: bold;
}

.menu{
	text-align: left;
	margin: 0 10px;
	width: 282px;
	font-size: 0.91em;
}

