/* body{
    background: var(--color-primary);   
} */

li {
    text-decoration: none; 
    list-style: none; 
    box-sizing: border-box;
    color: var(--color-text-base);
    }


.page-header .header-content .header-buttons {
    display: flex;

}
.page-header .header-content .header-buttons button{
    width: 10rem;
    height: 5rem;
    background: var(--color-secondary);
    color: var(--color-button-text);
    border: 0;
    border-radius: .8rem;
    cursor: pointer;
    font: 700 1.6rem Archivo;

    /* display: flex; */
    align-items: center;
    justify-content: center;
    text-decoration: none;

    transition: 0.2s;
    margin-right: 1rem;
    margin-top: 1rem;
}

.page-header .header-content .header-buttons button:hover{
    transform: translateY(-5px);
    color: var(--color-primary-dark);
}


#page-instrucoes #container {
    width: 100vw;
    height: 100vh;
}

#page-instrucoes main {
    margin: 3.2rem auto;
    width: 90%;
}

.intrucoes-item {
    background-color: var(--color-box-base);
    border: 1px solid var(--color-line-in-white);
    border-radius: .8rem;
    padding-left: 4rem;
    padding-bottom: 2rem;
    margin-top: 3.2rem;

}

.intrucoes-item header {
    padding-top: 4.2rem ;
    display: flex;
    align-items: center;
}

.intrucoes-item header strong {
    font: 700 2.4rem 'Montserrat';
    display: block;
    color: var(--color-text-title);
}

.intrucoes-item > ul {
    color: var(--color-text-base);
    padding-top: 2rem;
    padding-bottom: 3rem;
    
    padding-right: 2.6rem;
    font-size: 1.6rem;
    line-height: 2.8rem;
}


.intrucoes-item  ul li  {
    display: flex;
    align-items: center;
    padding-top: 2rem;   
    gap: 2rem;
}

.intrucoes-item ul li img {
    width: 40px;
}

.proximo {
    display: flex;
    margin: 1rem 0 -2rem 45%;
    
    width: 3.5rem;
}

.intrucoes-item footer {
    padding: 3.2rem 2rem;
    background-color: var(--color-box-footer);
    border-top: 1px solid var(--color-line-in-white);
    margin-top: 3.2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.intrucoes-item footer p {
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: var(--color-text-base);

}
.intrucoes-item footer p strong {
    font-size: 1.6rem;
    color: var(--color-primary);
    display: block;

}

.intrucoes-item .footer-buttons {
    display: flex;
    flex-direction: column;
    row-gap: 1.6rem;
    justify-content: space-between;
}

.intrucoes-item footer .button {
    width: 15rem;
    height: 5.6rem;
    background-color: var(--color-secondary);
    color: var(--color-button-text);
    border: 0;
    border-radius: .8rem;
    cursor: pointer;
    font: 700 1.4rem 'Montserrat';

    display: flex;
    align-items: center;
    justify-content: space-evenly; /*  */
    
    text-decoration: none;

    transition: baclground 0.2s;
    margin-left: 1.6rem;
}

.intrucoes-item footer .button:hover {
    background-color: var(--color-secondary-dark);
}

#page-instrucoes main .no-results {
    max-width: 300px;
    margin: 12rem auto;
    text-align: center;
}

@media (min-width:700px) {
    #page-instrucoes #container {
        max-width: 100vw;
    }

    .page-header {
        height: 340px;
    }


    .page-header .header-content {
        max-width: 740px;

        margin: 0 auto;

        flex: 1 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
    
    }

    .page-header .header-content strong {
        max-width: 350px;
    }

 

    
    .intrucoes-item .page-header,
    .intrucoes-item footer {
        padding: 32px;
    }

     #page-instrucoes main {
        padding: 32px 0;
        max-width: 740px;
        margin: 0 auto;
    }


    .intrucoes-item > ul {
        color: var(--color-text-base);
        padding-top: 2rem;
        padding-bottom: 3rem;
        padding-left: 2.6rem;
        padding-right: 2.6rem;
        font-size: 1.6rem;
        line-height: 2.8rem;
    }

    .intrucoes-item ul li img {
        width: 6%;
    }

    .intrucoes-item > p {
        padding: 0 32px;
    }

    .intrucoes-item footer p strong {
        display: initial;
        margin-left: 16px;
    }
    .intrucoes-item .footer-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .intrucoes-item footer button {
        width: 245px;
        font-size: 16px;
        justify-content: center;
    }
    .intrucoes-item footer button img {
        margin-right: 16px;
    }

}

