@charset "UTF-8";



html {
	margin: 0px 70px 0px 70px;
}


/*Menu*/


.logomenu {
	padding-top: 5px;
	margin-left: 10px;
    display: inline;
}


.floripalogo {
    margin-left: 220px;
    margin-bottom: 10px;
}


#cabecalho {
	width: 100%;
	height: 80px;
    background-color: rgb(255, 255, 255);
    border-bottom: 15px solid #0899cf;
}


#menu {
    display: block;
	position: right;
    margin-top: -95px;
}


nav#menu ul {
	font-family: Open Sans;
	background-color: none;
	list-style: none;
	text-align: right;
	font-size: 12px;
}


nav#menu li {
	display: inline;
}


nav#menu a {
	margin-top: 8px;
	padding: 35px 15px;
	display: inline-block;
	text-decoration: none;
	color: rgb(70, 70, 70);
}


nav#menu a:hover {
	background: #ececec;
	transition: 0.5s;
}









/*MEI texto*/





#btnvoltar {
    margin-left: 0px;
    margin-top: 24px;
	width: 50px;
	background-color: #0fb9b1;
}

#btnvoltar ul {
	font-family: Open Sans;
	list-style: none;
	font-size: 13px;
}

#btnvoltar li {
	display: block;
}

#btnvoltar a {
	text-decoration: none;
	color: #ffffff;
}








#h2mei {
	text-align: center;
	background-color: #0fb9b1;
	color: white;
	font-family: Open Sans;
	font-weight: normal;
	font-size: 17px;
	margin-top: -55px;
	margin-bottom: 20px;
	padding: 20px 0px 20px 0px;
}

#boxmei {
	background-color: #f7f7f7;
	box-shadow: 0px 15px 30px #0000001A;
	opacity: 1;
	padding-bottom: 10px;
}

.txt {
	font-family: Open Sans;
	font-weight: normal;
	font-size: 16px;
	color: #707070;
	text-align: left;
    text-decoration: none;
	padding: 50px 100px 50px 100px;
}





/*Botão*/








#btn1 {
    margin-left: 380px;
    margin-top: 30px;
	width: 450px;
	background-color: #ffffff;
	height: 160px;
	border-radius: 20px;
}

#btn1 ul {
	padding: 70px 0px 50px 0px;
	font-family: Open Sans;
	list-style: none;
	font-size: 20px;
    text-align: center;
	border: 5px solid #0fb9b1;
	border-radius: 30px;
}

#btn1 ul:hover {
    background-color: #0fb9b1;
	border-radius: 30px;
}

#btn1 li {
	margin-left: -1px;
	margin-bottom: 25px;
    display: block;
}


#btn1 a {
	padding: 75px 0px 75px 0px;
	text-decoration: none;
	color: #000000;
}

#btn1 a:hover {
	text-decoration: none;
	color: #ffffff;
}










/*Rodapé*/




.rodape {
	margin-top: 100px;
}

.icones {
    padding: 10px 10px 5px 0px;}

.rede {
	max-width: 50px;
	border-radius: 50%;
	transition: all 0.4s ease-out;
}

.rede:hover {
	cursor: pointer;
	transform: translateY(-10px);
}

.rede#facebook {
	margin-left: 530px;
	background-color: #2372a3;
	display: inline-block;
}

.rede#twitter {
	background-color: #0084b4;
	display: inline-block;
}

.rede#youtube {
	background-color: #b00;
	display: inline-block;
}

.icone {
	margin: 0px auto;
	padding: 10px;
	max-width: 20px;
}

.p-rodape {
	text-align: center;
	font-family: Open Sans;
	font-size: 12px;
	color: #C0C0C0;
}

.p1-rodape {
	padding-top: 70px;
	text-align: center;
	font-family: Open Sans;
	font-size: 11px;
	color: gray;
}












