*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(43, 43, 100, 1);
    font-family: "Montserrat", sans-serif;
}
.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.background .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}

form{
    height: 620px;
    width: 400px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 5px 30px;
}
form *{
    font-family: 'Poppins',sans-serif;
    color: rgba(43, 43, 100, 1);
    letter-spacing: 0.5px;
    outline: none;
    border: none;

}
form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}
form h2{
    text-align: center;
}

label{
    display: block;
    margin-top: 4%;
    font-size: 16px;
    font-weight: 500;
}
input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgb(245, 245, 245);
    border-radius: 10px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 8%;
}
::placeholder{
    color: rgb(27, 26, 26);
    background-color: rgba(245, 245, 245, 3);


}

.suporte{
    color:white;
    margin-top: 42%;
    margin-left :85%;
}

.posicaoSuporte{
    margin-left: 21%;
}

.reset_senha{
    margin-top: 5%;
}

.logo{
    width: 80%;
    margin-top: 12%;
    margin-left: 9%;

}

.pgs{
    width: 80%; 
    margin-left: 11%;

}


button{
    margin-top: 50px;
    width: 100%;
    background-color:rgba(245, 245, 245, );
    color: hsl(247, 54%, 21%);
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
button
.social{
  margin-top: 30px;
  display: flex;
}
button:hover{
    background: hsl(247, 54%, 21%);
    color: antiquewhite;
}
.social div{
  background: red;
  width: 150px;
  border-radius: 3px;
  padding: 5px 10px 10px 5px;
  background-color: rgba(255,255,255,0.27);
  color:rgba(245, 245, 245, 1);

  text-align: center;
}
.social div:hover{
  background-color: rgba(255,255,255,0.47);
}
.social .fb{
  margin-left: 25px;
}
.social i{
  margin-right: 4px;
}
